body {
            margin:0;
            padding:0;
            font-family: Lato, Regular;
            font-weight: 400 !important;
        }

        a, a:hover, a:visited {
            color: #0071bc;
        }

        #map {
            top:0;
            height: 100vh;
            width:100vw;
            position: fixed;
        }


        
        @media (max-width: 200px) {
            #mapInset {
                display: none;
            }
        }

.chapter-image {
    max-width: 100vw; /* Set maximum width to 100% of its container */
    height: auto; /* Let the height adjust proportionally */
    /* Add any additional styles you need */
}

   #header {
    margin: auto;
    width: 100%;
    position: relative;
    z-index: 0;
    background-image: url("images/COVID_GRAYSCALE2.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    height: 180vh;
    overflow: hidden;

}

#header h1, #header h2,#header h4,#header h5, #header p{
    margin: 0;
    padding: 1.5vh 2vw;
    text-align: center;
}


    #header h1{

    padding-top:22vh;
    margin: 0;
    font-size: 7.25vh;
    text-align: center;
    color: white;
    font-weight: 1400;
    font-family: DM Serif Text,regular;
    letter-spacing: 0.2em;

}
          #header h2{
 
            margin: 0;
            font-size: 2.25vh;
            padding: 2vh 2vw;
            text-align: center;
            color: white;
            padding-bottom:12vh;
            font-weight: 400;
            font-family: PT Serif,bold;
            letter-spacing: 0.06em;
            max-width: 400px;
            margin-left:auto;
            margin-right: auto;

          }

          #header h3{
 
            font-size: 8px;
            margin: 0;
            padding: 2vh 2vw;
            text-align: center;
            color: white;
            padding-bottom:14vh;
            font-weight: 300;
            font-style: italic;
            max-width: 1000px;
            margin: 0 auto;

          }


#header h4 {
    font-size: 1vh;
    text-align: justify;
    margin: 0 24vw;
    position: absolute;
    color: black;
    width: 35vw;
    line-height: 3;
    margin-left:auto;
    margin-right: auto;
    font-weight: 400;

}

h5 {
    font-size: .83em; /* Adjust the font size */
    font-weight: 400 !important; /* Set font weight to 100 and use !important */
    /* Add other styles as needed */
}


    #header p {
    font-size: 1.75vh;
    text-align: justify;
    margin: 0 24vw;
    position: relative;
    color: black;
    top: 56.5vh; /* Adjust the vertical position */
    width: 45vw;
    line-height: 1.7;
}

#footer {
    text-align: center;
    line-height: 25px;
    font-size: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
    background-color: transparent;
    margin: 0;
    padding: 5px 0;
    font-weight: 400;
}

        #features {
            padding-top: 10vh;
            padding-bottom: 10vh;
        }
        .hidden {
            visibility: hidden;
        }
        .centered {
            width: 50vw;
            margin: 0 auto;
        }
        .lefty {
            width: 33vw;
            margin-left: 5vw;
        }
        .righty {
            width: 33vw;
            margin-left: 62vw;
        }
        .fully {
            width: 100%;
            margin: auto;
        }
        .light {
            color: #444;
            background-color: #fafafa;
        }
        .dark {
            color: #fafafa;
            background-color: #444;
        }
        .step {
            padding-bottom: 50vh;
            /* margin-bottom: 10vh; */
            opacity: 0.7;
        }
        .step.active {
            opacity: 0.95;
        }

        .step div {
            padding:  25px 50px;
            line-height: 25px;
            font-size: 13px;
        }

        .step img {
            width: 100%;
        }

        @media (max-width: 750px) {
            .centered, .lefty, .righty, .fully {
                width: 90vw;
                margin: 0 auto;
            }
        }

.no-box {
    background: transparent !important; /* Make the background transparent */
    box-shadow: none !important; /* Remove any box shadow if applied */
    border: none !important; /* Remove any border if applied */
    padding: 0 !important; /* Remove any padding if applied */
}    


 #interlude {
    width: 89vw;
}

#interlude p{
    font-size: 2vh;
    text-align: justify;
    margin-left: 34vw;
    margin-right: 34vw;
    max-width: 800px;
    margin: 0 auto;
}

video {
    display: block;
    margin: 0 auto;
    width: 40%;
    position: relative;
    left: 20%;
    transform: translateX(-50%);
    padding-bottom:.5vh;
}


.legend {
    background-color: #fff;
    border-radius: 2px;
    bottom: 30px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    font: 8px/17px 'Lato', sans-serif; /* Fixed font-family declaration */
    padding: 8px;
    position: fixed;
    right: 10px;
    z-index: 2;
}

.legend div span {
    display: inline-block;
    height: 10px;
    margin-right: 5px;
    width: 10px;
}

.legend h4 {
    margin: 0 0 10px;
}