body { margin: 0; padding: 0; }

#map { position: absolute; top: 0; bottom: 0; width: 100%; }

.map-overlay {
font-family: 'Montserrat', sans-serif;
/*font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;*/
position: absolute;
width: 40%;
top: 0;
left: 0;
padding: 10px;
}

.map-overlay .map-overlay-inner {
background-color: #fff;
box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
border-radius: 3px;
padding: 12px;
margin-bottom: 12px;
opacity: .9;
}

.map-overlay h2 {
line-height: 24px;
display: block;
margin: 0 0 14px;
font-weight: 800;
}
.mapboxgl-popup {
max-width: 800px;
font: 12px/20px 'Montserrat',sans-serif;

}

.map-overlay h3 {
line-height: 16px;
display: block;
margin: 0 0 4px;
font-weight: 500;
}
.mapboxgl-popup {
max-width: 500px;
font: 12px/12px 'Montserrat',sans-serif;

}